<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>    
  </ion-header>  

  <div id="container">    
    <ion-list class="ion-padding">
      <ion-item>      
        <ion-button (click)="gotoContacts()"> Student Contact</ion-button>
      </ion-item>
      <ion-item> 
        <ion-button (click)="gotoCountries()"> Let's learn Europe countries</ion-button>
      </ion-item>    
    </ion-list>
    <ion-item> 
      <ion-button (click)="gotoAbout()"> About</ion-button>
    </ion-item>
    <p>
      <img src="../assets/images/269183-P5HPR8-820.jpg" width="40%"  height="40%"/>
    </p>
    <i> The image above was <a target="_blank" rel="noopener noreferrer" href="http://www.freepik.com">Designed by Freepik</a></i>
  </div>
</ion-content>